#heading {
  margin: 50px 0 20px 0;
}

#search-box {
  padding: 10px;
  width: 600px;
  border: 1px solid #eee;
  outline: 0;
  font-size: 15px;
}

#search-result, #top-packages {
  width: 600px;
  margin: 20px 0 0 0;
}

#search-result hr {
  border: 3px solid #444;
}

#search-result {
  background-color: rgb(254, 255, 240);
  border: 1px solid rgb(177, 177, 177);
  height: 520px;
  padding: 10px;
}

#search-meta {
  font-size: 13px;
  color: #666;
  height: 15px;
}

.package {
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.package .name {
  font-weight: 400;
}